body{
	margin: 0;
	height: 87.5vh;
	background-color: #6667CB;
}

.frame{
	margin:auto;
	margin-top: 12.5vh;
	width: 80vw;
	height: 75vh;
	border: 2px wheat solid;
}

.top-left-information{
	width: 40%;
	height: 50%;
	border: green solid 2px;
}

.bottom-left-information{
	top: 50%;
	width: 40%;
	height: 50%;
	border: red dashed 2px;
}