<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/css.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
	<script src="static/main.js"></script>
	<title>水來了塊桃</title>
</head>
<body>
	<div class="frame">
		<div class="left-part">
			<div class="top-left-information">
				<div class="TL-information" style="height:20%;font-size: 36px;">{{locationName}}</div>
				<div class="TL-information" style="height:40%;">上游天氣：<br><span>未知{{data}}</span></div>
				<div class="TL-information" style="height:40%;">剩餘時間：<br><span>----</span></div>
			</div>
			<div class="alert"><span>有沒有警戒阿？</span></div>
			<div class="bottom-left-information">
				<div id="降雨機率">
					<span>降雨機率：</span><br><br><br><br><br>
					<span id="rain-prob">??</span><span>%</span>
				</div>
				<div id="七天氣溫">
					<div class="temperature" style="text-align: center; font-size: 26px; font-weight: bold;">氣溫</div>
					<div class="temperature"><span style="font-size: 24px;">今天：</span><span style="font-size: 24px;"id="Tday0">??</span><span style="font-size: 24px;">°C</span></div>
					<div class="temperature"><span style="font-size: 24px;">明天：</span><span style="font-size: 24px;"id="Tday1">??</span><span style="font-size: 24px;">°C</span></div>
					<div class="temperature"><span style="font-size: 24px;">後天：</span><span style="font-size: 24px;"id="Tday2">??</span><span style="font-size: 24px;">°C</span></div>
					<div class="temperature"><span style="font-size: 24px;">大後天：</span><span style="font-size: 24px;"id="Tday3">??</span><span style="font-size: 24px;">°C</span></div>
					<div class="temperature"><span style="font-size: 24px;">四天後：</span><span style="font-size: 24px;"id="Tday4">??</span><span style="font-size: 24px;">°C</span></div>
					<div class="temperature"><span style="font-size: 24px;">五天後：</span><span style="font-size: 24px;"id="Tday5">??</span><span style="font-size: 24px;">°C</span></div>
					<div class="temperature"><span style="font-size: 24px;">六天後：</span><span style="font-size: 24px;"id="Tday6">??</span><span style="font-size: 24px;">°C</span></div>
				</div>
			</div>
		</div>
		<div class="map">
			{% set coor = [
				[415,25],[],[],[],[],[],[],[],[],[],[],[],
			]%}
			{% for _ in range(5) %}
			<img src="{{url_for('static', filename='icon.jpg')}}" id="spring{{_}}" onclick="window.location='http://120.107.162.12:5000/web?id={{_}}'" style="cursor:pointer;box-shadow: 0px 0px 5px red;position:relative;left:{{coor[_][0]}}px; top:{{coor[_][1]}}px;width:20px; border-radius:10px">
			{% endfor %}
		</div>
	</div>
</body>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>